body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #141414;
    color: white;
    position: relative;
    height: 100%;
    background: url("/images/netflix-thanksgiving-movies-64de900abcc74.jpg");
    backdrop-filter: blur(4px);
}

body::before {
    content: "";
    background: rgba(3, 1, 1, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}



header {
    padding: 20px;
    background-color: #111;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 120px;
}

#main-content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

/* Style your movie/show cards here */

footer {
    padding: 20px;
    background-color: #111;
    text-align: center;}
.movie-card {
    width: 200px;
    margin: 10px;
    cursor: pointer;
    height: auto; /* Adjust the height to your preference */
    display: flex;
    flex-direction: column;
    }
    
.movie-card img {
    width: 100%;
    border-radius: 8px;
    height: 100%;
    object-fit: cover;
}
.sign-in{
    background-color: #E50913;
    text-align: center;
    padding: 9px;
    color: aliceblue;
    border-style: solid;
    border-width: 0.0625rem;
    border-radius: 8px;
    content: '';
    border-color: rgba(0,0,0,0);
}