body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #141414;
    color: white;
    background: url("/images/netflix-thanksgiving-movies-64de900abcc74.jpg");
    /* background: transparent; */
    /* border-radius: 20px; */
    /* border: 3px solid rgba(257, 257, 257, 0.9); */
    backdrop-filter: blur(4px);
    height: 100%;
}

header {
    padding: 20px;
    background-color: #111;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 120px;
}

#main-content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

/* Style your movie/show cards here */

footer {
    padding: 20px;
    background-color: #111;
    text-align: center;}
.movie-card {
        width: 200px;
        margin: 10px;
        cursor: pointer;
        height:90%;
    }
    
.movie-card img {
    width: 100%;
    border-radius: 8px;
   
}
.sign-in{
    background-color: #E50913;
    text-align: center;
    padding: 9px;
    color: aliceblue;
    border-style: solid;
    border-width: 0.0625rem;
    border-radius: 0.1875rem;
    content: '';
    border-color: rgba(0,0,0,0);
}